
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FFEFEF;
    color: #7C99AC;
    padding: 20px;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #7C99AC;
    color: #D3DEDC;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Dancing Script', cursive;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 20px 0;
}

#bio, #hobbies, #facts {
    background-color: #FFEFEF;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#bio h2{
    font-family: 'Dancing Script', cursive;
}

#bio p {
    font-family: 'Roboto', sans-serif;
}

#hobbies h2 {
    font-family: 'Roboto', sans-serif;
}

#hobbies ul {
    display: flex; /* Включаем Flexbox для горизонтального расположения */
    justify-content: space-between; /* Распределяем элементы по ширине */
    padding: 0;
    list-style-type: none;
}

#hobbies li {
    flex: 1; /* Элемент занимает одинаковую долю ширины */
    text-align: center; /* Центрируем текст и изображение */
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

#hobbies img {
    width: 100%; /* Изображение занимает всю ширину контейнера */
    height: auto;
}


#facts table {
    width: 100%;
    border-collapse: collapse;
}

#facts h2{
    font-family: 'Dancing Script', cursive;
}

#facts table, #facts th, #facts td {
    border: 1px solid #ddd;
    padding: 8px;
}

#facts th {
    background-color: #92A9BD;
    color: white;
    font-family: 'Raleway', sans-serif;
}
#facts td {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #7C99AC;
    color: white;
    margin-top: 20px;
}

footer a {
    font-family: 'Raleway', sans-serif;
}

footer a {
    color: #D3DEDC;
    text-decoration: none;
}
